/bin/
/obj/
/Properties/
appsettings.Development
appsettings
Program.cs
*.csproj
*.csproj.user
/.vs/
/.git/

obj/project.assets.json
obj/project.nuget.cache
obj/SistemaTallerMecanico.csproj.nuget.dgspec.json
obj/SistemaTallerMecanico.csproj.nuget.g.props
