@model ProyectoTallerMecanico.Models.Empleado

<div class="row">
	<form class="col s12" id="formAgregarEmpleado">
		<div class="input-field col s7">
			<i class="material-icons prefix">account-circle</i>
			<label asp-for="Nombre"></label>
			<input type="text" asp-for="Nombre" class="validate" />
		</div>
		<div class="input-field col s7">
			<i class="material-icons prefix">directions</i>
			<label asp-for="Direccion"></label>
			<input type="text" asp-for="Direccion" class="validate" />
		</div>
		<div class="input-field col s7">
			<i class="material-icons prefix">contact_phone</i>
			<label asp-for="Telefono"></label>
			<input asp-for="Telefono" />
		</div>
		<div class="input-field col s7">
			<i class="material-icons prefix">attach_money</i>
			<label asp-for="Sueldo"></label>
			<input asp-for="Sueldo" />
		</div>
	</form>
</div>
