@model IEnumerable<ProyectoTallerMecanico.Models.Empleado>
@using ProyectoTallerMecanico.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Empleados";
}
<div id="PlaceHolderHere"></div>
<!--Index EMPLEADO-->
<div style="width:100%;align-items:center">
	<h1 style="text-align:center">Administración de Empleados</h1>
</div>
<!--Se agrega una lista formateado en tabla
	Cada item de tabla tendra 2 acciones en la columna final que seran
	* Editar    : Se mostrara un modal con un nuevo formulario donde se mostrara el registro a editar.
	* Eliminar  : Se mostrara un mensaje de confirmacion para eliminar logicamente en la base de datos el registro.
-->
<div class="row">
	<div class="col s3 m2">
		<h2>Lista de Empleados Registrados</h2>
	</div>
	<div class="col s2 m1 right-align">
		<i class="material-icons red">add_box</i>
		<button type="button" class="btn btn-primary red" data-toggle="modalEmpleado" data-target="#crudEmpleado" data-url="@Url.Action("Create")">
			Crear Nuevo Empleado
		</button>
	</div>
</div>
@if (Model.Any())
{
	int validos = 0;
	// Verificare que el modal tenga datos.
	<table>
		<thead>Lista de Empleados</thead>
		<tbody>
			<tr>
				<td>Nombre</td>
				<td>Direccion</td>
				<td>Telefono</td>
				<td>Sueldo</td>
				<td>Acciones</td>
			</tr>
			foreach (var item in Model)
			{
			if(item.Estatus == 1){
			validos++;
			<tr>
				<td>item.Nombre</td>
				<td>item.Direccion</td>
				<td>item.Telefono</td>
				<td>item.Sueldo</td>
				<td>
					<a asp-controller="Empleado" asp-action="Edit">Editar</a>
					<a asp-controller="Empleado" asp-action="Delete">Eliminar</a>
				</td>
			</tr>
			}
			}
			if(validos == 0){
				<tr>
					<td colspan="5">Actualmente no hay empleados activos.</td>
				</tr>
			}
		</tbody>
		<tfoot>Lista de Empleados</tfoot>
	</table>
}
else
{
	<h2>Actualmente no hay datos de empleado.</h2>
}
